@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = null;
}

@*<hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            Please check your email to reset your password.
        </p>
    </div>*@


<!doctype html>
<html lang="en" dir="ltr">
<head>

    <style>

        body {
            background-image: url('/Assets/images/AdminLog4.jpg');
        }
    </style>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-TileColor" content="#0f75ff">
    <meta name="theme-color" content="#2ddcd3">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

    <!-- Title -->
    <title>Clinic Management System</title>

    <!-- Bootstrap Css -->
    <link href="~/Assets/plugins/bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Dashboard Css -->
    <link href="~/Assets/css/dashboard.css" rel="stylesheet" />

    <!-- Font-awesome  Css -->
    <link href="~/Assets/css/icons.css" rel="stylesheet" />

    <!--Horizontal Menu-->
    <link href="~/Assets/plugins/Horizontal2/Horizontal-menu/dropdown-effects/fade-down.css" rel="stylesheet" />
    <link href="~/Assets/plugins/Horizontal2/Horizontal-menu/horizontal.css" rel="stylesheet" />
    <link href="~/Assets/plugins/Horizontal2/Horizontal-menu/color-skins/color.css" rel="stylesheet" />

    <!--Select2 Plugin -->
    <link href="~/Assets/plugins/select2/select2.min.css" rel="stylesheet" />


    <!-- Custom scroll bar css-->
    <link href="~/Assets/plugins/scroll-bar/jquery.mCustomScrollbar.css" rel="stylesheet" />

    <!-- COLOR-SKINS -->
    <link id="theme" rel="stylesheet" type="text/css" media="all" href="~/Assets/webslidemenu/color-skins/color10.css" />

</head>
<body>



    <!--Forgot password-->
    <section class="sptb">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-xl-4 col-md-6 d-block mx-auto">
                    <div class="single-page w-100 p-0">
                        <div class="wrapper wrapper2">
                            <form id="forgotpsd" class="card-body">

                                <div class="mail">

                                    <h3 class="color3">Please check your email to reset your password.</h3>
                                    <hr />

                                    <p class="text-dark mb-0">Already have an account?<a href="/Account/Login" class="text-primary ml-1">Sign In</a></p>
                                </div>
                                @*<div class="submit">
                                        <a class="btn btn-primary btn-block" href="index.html">Send</a>
                                    </div>
                                    <div class="text-center text-dark mb-0">
                                        Forget it, <a href="login.html">send me back</a> to the sign in.
                                    </div>*@
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/Forgot password-->
    <!-- Back to top -->
    <a href="#top" id="back-to-top"><i class="fa fa-rocket"></i></a>

    <!-- JQuery js-->
    <script src="~/Assets/js/vendors/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap js -->
    <script src="~/Assets/plugins/bootstrap-4.3.1-dist/js/popper.min.js"></script>
    <script src="~/Assets/plugins/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>

    <!--JQuery Sparkline Js-->
    <script src="~/Assets/js/vendors/jquery.sparkline.min.js"></script>

    <!-- Circle Progress Js-->
    <script src="~/Assets/js/vendors/circle-progress.min.js"></script>

    <!-- Star Rating Js-->
    <script src="~/Assets/plugins/rating/jquery.rating-stars.js"></script>

    <!--Horizontal Menu-->
    <script src="~/Assets/plugins/Horizontal2/Horizontal-menu/horizontal.js"></script>

    <!--Owl Carousel js -->
    <script src="~/Assets/plugins/owl-carousel/owl.carousel.js"></script>

    <!--JQuery TouchSwipe js-->
    <script src="~/Assets/js/jquery.touchSwipe.min.js"></script>

    <!-- sticky Js-->
    <script src="~/Assets//js/sticky.js"></script>

    <!--Select2 js -->
    <script src="~/Assets/plugins/select2/select2.full.min.js"></script>
    <script src="~/Assets/js/select2.js"></script>


    <!-- Custom scroll bar Js-->
    <script src="~/Assets/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>

    <!-- Swipe Js-->
    <script src="~/Assets/js/swipe.js"></script>

    <!-- Scripts Js-->
    <script src="~/Assets/js/scripts2.js"></script>

    <!-- Custom Js-->
    <script src="~/Assets/js/custom.js"></script>
</body>
</html>


